@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 90rem;
  padding: 1.5rem;
}

.body{
  font-family: Mulish, sans-serif;
}

/* HEADER */

.header{
  --tw-bg-opacity: 1;
  background-color: rgb(13 110 253 / var(--tw-bg-opacity, 1));
}

@media (min-width: 1024px){
  .header{
    background-image: url(../dist/img/banner.jpg);
    background-size: cover;
  }
}

.header_navD{
  display: none;
  justify-content: space-between;
}

@media (min-width: 1024px){
  .header_navD{
    display: flex;
  }
}

.nav_bar{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation{
  display: flex;
  gap: 3rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.nav_link{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search{
  border-right-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(108 117 125 / var(--tw-border-opacity, 1));
  padding-right: 1.5rem;
  padding-left: 2rem;
}

.search ul li a i{
  height: 1rem;
  width: 1rem;
}

.language{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.language img{
  height: 14px;
  width: 18px;
}

.language ul{
  display: flex;
  gap: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.language ul li a i{
  width: 0.5rem;
}

.registerBtn a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header_navM{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px){
  .header_navM{
    display: none;
  }

  .toggle_menu{
    display: none;
  }
}

.toggle_menu span{
  display: block;
  height: .3rem;
  width: 1.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.toggle_menu span:nth-child(2){
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.toggle_menu.open span:first-child{
  --tw-translate-y: 8px;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.toggle_menu.open span:nth-child(2){
  opacity: 0;
}

.toggle_menu.open span:last-child{
  --tw-translate-y: -9px;
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.nav_menu{
  position: absolute;
  top: 3.5rem;
  left: -1.5rem;
  height: 0px;
  width: 100vw;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(248 249 250 / var(--tw-bg-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.nav_menu.open{
  height: 381px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.nav_menu ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav_menu ul li{
  border-bottom-width: 2px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav_menu ul li a{
  padding-left: 1rem;
  font-size: 14px;
}

/* BANNER */

.banner{
  background-image: url(../dist/img/banner.jpg);
  background-size: cover;
  background-position: center;
}

.banner_wrapper{
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px){
  .banner_wrapper{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.bannerTxt{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.bpg ul{
  margin-top: 11px;
  margin-bottom: 11px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.125rem;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16.5px;
  padding-right: 16.5px;
}

.bpg ul li h4{
  font-family: Urbanist, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.bannerTxt h1{
  font-family: Urbanist, sans-serif;
  font-size: clamp(30px,4vw,56px);
  font-weight: 700;
}

.bannerTxt p{
  margin-top: 26px;
  margin-bottom: 36px;
  min-width: 330px;
  max-width: 635px;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(108 117 125 / var(--tw-text-opacity, 1));
}

.getStarted{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px){
  .getStarted{
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}

@media (min-width: 1024px){
  .getStarted{
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}

.gsImg img{
  height: 60px;
  width: 129px;
}

.gsTxt p{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px){
  .gsTxt p{
    border-left-width: 2px;
    padding-left: 1rem;
  }
}

/* PRICING */

.pricing{
  height: 3450px;
  background-image: url(../dist/img/pricing-bg.jpg);
  background-size: cover;
}

@media (min-width: 768px){
  .pricing{
    height: 1850px;
  }
}

@media (min-width: 1024px){
  .pricing{
    height: 1050px;
  }
}

.features_wrapper{
  position: relative;
}

.features{
  position: absolute;
  top: -5rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.feature_tabs{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 310px;
  padding-left: 12px;
  padding-right: 12px;
}

.feature_content{
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 32px;
}

.feature_content img{
  height: 50px;
  width: 50px;
}

.feature_content h3{
  margin-top: 30px;
  font-family: Urbanist, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.prices{
  margin-top: 80px;
  width: 100%;
}

.prices h1{
  height: 160px;
  text-align: center;
  font-family: Urbanist, sans-serif;
  font-size: clamp(17px,4vw,40px);
  font-weight: 700;
}

.pricingArea{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.cardImg img{
  height: 70px;
  width: 70px;
}

.pricing_cards{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  min-width: 312px;
  border-top-width: 4px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 23px;
}

@media (min-width: 768px){
  .pricing_cards{
    min-width: 336px;
  }
}

@media (min-width: 1024px){
  .pricing_cards{
    min-width: 336px;
  }
}

.pricing_cards h2{
  margin-top: 11px;
  font-size: clamp(24px,4vw,32px);
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(13 110 253 / var(--tw-text-opacity, 1));
}

.pricing_cards h2 span{
  font-family: Mulish, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(108 117 125 / var(--tw-text-opacity, 1));
}

.pricing_cards a{
  text-align: center;
}

.pricing_cards h3{
  margin-top: 13px;
  border-top-width: 2px;
  padding-top: 11px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: 600;
}

.pricing_cards p{
  font-family: Mulish, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(108 117 125 / var(--tw-text-opacity, 1));
}

.pricing_cards a{
  margin-top: 30px;
}

.pricing_cards a i{
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-text-opacity: 1;
  color: rgb(13 110 253 / var(--tw-text-opacity, 1));
}

.pricing_cards ul li a{
  display: flex;
  align-items: center;
  font-family: Mulish, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(108 117 125 / var(--tw-text-opacity, 1));
}

.cardList ul li a img{
  margin-right: 0.75rem;
  height: 14px;
  width: 0.75rem;
}

/* ABOUT AREA */

@media (min-width: 1024px){
  .abtArea_wrapper{
    display: flex;
  }
}

.abtArea{
  padding-top: 120px;
  padding-bottom: 90px;
}

.abtArea1 img{
  margin-bottom: 1rem;
  min-width: 100%;
}

@media (min-width: 768px){
  .abtArea1 img{
    min-width: 610px;
  }
}

@media (min-width: 1024px){
  .abtArea1 img{
    margin-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.abtArea2{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1024px){
  .abtArea2{
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.abtTitle h1{
  font-family: Urbanist, sans-serif;
  font-size: clamp(17px,4vw,40px);
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(4 19 65 / var(--tw-text-opacity, 1));
}

.abtIcon{
  height: 28px;
}

.abtP{
  margin-bottom: 44px;
}

.abtList{
  margin-bottom: 1rem;
}

@media (min-width: 768px){
  .abtList{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}

.abtIcon img{
  height: 22px;
  width: auto;
}

.abtList p{
  margin-bottom: 1rem;
  font-family: Mulish, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(108 117 125 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px){
  .abtList p{
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 1024px){
  .abtList p{
    margin-bottom: 0px;
  }
}

.abtItems{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item{
  margin-bottom: 30px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.75rem;
  border-width: 1px;
  border-bottom-width: 4px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(13 110 253 / var(--tw-border-opacity, 1));
}

.itemContent{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 11px;
}

.itemContent h3{
  font-family: Urbanist, sans-serif;
  font-size: 42px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(13 110 253 / var(--tw-text-opacity, 1));
}

.itemContent h3 span{
  font-size: 22px;
  --tw-text-opacity: 1;
  color: rgb(32 201 151 / var(--tw-text-opacity, 1));
}

.itemContent p{
  margin-bottom: 1rem;
  font-family: Mulish, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(108 117 125 / var(--tw-text-opacity, 1));
}

/* FAQ AREA */

.faq_content p{
  height: 0px;
  overflow: hidden;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.faq_content p.open{
  height: -moz-fit-content;
  height: fit-content;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.faq_icon{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.faq_icon.open span:last-child{
  display: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.testimonial_card{
  margin-right: 20px;
  margin-left: 0px;
  height: 450px;
  width: 312px !important;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(13 110 253 / var(--tw-bg-opacity, 1));
}

@media (min-width: 768px){
  .testimonial_card{
    margin-right: 25px;
    width: 700px !important;
  }
}

@media (min-width: 1024px){
  .testimonial_card{
    width: 400px !important;
  }
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.-right-4{
  right: -1rem;
}

.bottom-\[-20px\]{
  bottom: -20px;
}

.bottom-\[-30px\]{
  bottom: -30px;
}

.bottom-\[8\%\]{
  bottom: 8%;
}

.left-5{
  left: 1.25rem;
}

.left-\[-10\%\]{
  left: -10%;
}

.left-\[-16px\]{
  left: -16px;
}

.left-\[10\%\]{
  left: 10%;
}

.left-\[30\%\]{
  left: 30%;
}

.right-\[10\%\]{
  right: 10%;
}

.top-\[10\%\]{
  top: 10%;
}

.top-\[20\%\]{
  top: 20%;
}

.top-\[90\%\]{
  top: 90%;
}

.z-10{
  z-index: 10;
}

.z-\[-1\]{
  z-index: -1;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mb-7{
  margin-bottom: 1.75rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.mb-\[10px\]{
  margin-bottom: 10px;
}

.mb-\[15px\]{
  margin-bottom: 15px;
}

.mb-\[16px\]{
  margin-bottom: 16px;
}

.mb-\[20px\]{
  margin-bottom: 20px;
}

.mb-\[30px\]{
  margin-bottom: 30px;
}

.mb-\[57px\]{
  margin-bottom: 57px;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-\[11px\]{
  margin-top: 11px;
}

.mt-\[184px\]{
  margin-top: 184px;
}

.mt-\[22px\]{
  margin-top: 22px;
}

.mt-\[25px\]{
  margin-top: 25px;
}

.mt-\[27px\]{
  margin-top: 27px;
}

.mt-\[28px\]{
  margin-top: 28px;
}

.mt-\[35px\]{
  margin-top: 35px;
}

.mt-\[90px\]{
  margin-top: 90px;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.h-3{
  height: 0.75rem;
}

.h-\[172px\]{
  height: 172px;
}

.h-\[180px\]{
  height: 180px;
}

.h-\[182px\]{
  height: 182px;
}

.h-\[1px\]{
  height: 1px;
}

.h-\[27px\]{
  height: 27px;
}

.h-\[2px\]{
  height: 2px;
}

.h-\[32px\]{
  height: 32px;
}

.h-\[50px\]{
  height: 50px;
}

.h-\[70px\]{
  height: 70px;
}

.h-\[75px\]{
  height: 75px;
}

.h-\[80px\]{
  height: 80px;
}

.h-\[90px\]{
  height: 90px;
}

.w-3{
  width: 0.75rem;
}

.w-8{
  width: 2rem;
}

.w-\[151px\]{
  width: 151px;
}

.w-\[159px\]{
  width: 159px;
}

.w-\[19\.5rem\]{
  width: 19.5rem;
}

.w-\[310px\]{
  width: 310px;
}

.w-\[340px\]{
  width: 340px;
}

.w-\[50px\]{
  width: 50px;
}

.w-\[70px\]{
  width: 70px;
}

.w-\[76px\]{
  width: 76px;
}

.w-\[80px\]{
  width: 80px;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.min-w-\[310px\]{
  min-width: 310px;
}

.max-w-\[500px\]{
  max-width: 500px;
}

.grow{
  flex-grow: 1;
}

.translate-y-\[-6px\]{
  --tw-translate-y: -6px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90{
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-t-lg{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-br-lg{
  border-bottom-right-radius: 0.5rem;
}

.border{
  border-width: 1px;
}

.border-b-2{
  border-bottom-width: 2px;
}

.border-b-4{
  border-bottom-width: 4px;
}

.border-l-2{
  border-left-width: 2px;
}

.border-t{
  border-top-width: 1px;
}

.border-hlGray{
  --tw-border-opacity: 1;
  border-color: rgb(108 117 125 / var(--tw-border-opacity, 1));
}

.border-transparent{
  border-color: transparent;
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-hlBGrad{
  background-color: rgba(19, 132, 255, 0.30196078431372547);
}

.bg-hlBlue{
  --tw-bg-opacity: 1;
  background-color: rgb(13 110 253 / var(--tw-bg-opacity, 1));
}

.bg-hlDWhite{
  --tw-bg-opacity: 1;
  background-color: rgb(241 244 251 / var(--tw-bg-opacity, 1));
}

.bg-hlWhite{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-transparent{
  background-color: transparent;
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-category{
  background-image: url(../dist/img/category.jpg);
}

.bg-footer{
  background-image: url(../dist/img/footer_bg.jpg);
}

.bg-proved{
  background-image: url(../dist/img/proved-bg.jpg);
}

.bg-testimonial{
  background-image: url(../dist/img/testi_bg.jpg);
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.p-1{
  padding: 0.25rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[15px\]{
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[17px\]{
  padding-left: 17px;
  padding-right: 17px;
}

.px-\[18px\]{
  padding-left: 18px;
  padding-right: 18px;
}

.px-\[20px\]{
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[91\.5px\]{
  padding-left: 91.5px;
  padding-right: 91.5px;
}

.px-\[91px\]{
  padding-left: 91px;
  padding-right: 91px;
}

.px-\[92px\]{
  padding-left: 92px;
  padding-right: 92px;
}

.px-\[98\.5px\]{
  padding-left: 98.5px;
  padding-right: 98.5px;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[10px\]{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[13px\]{
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-\[18px\]{
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-\[29\.5px\]{
  padding-top: 29.5px;
  padding-bottom: 29.5px;
}

.py-\[8px\]{
  padding-top: 8px;
  padding-bottom: 8px;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pb-5{
  padding-bottom: 1.25rem;
}

.pb-6{
  padding-bottom: 1.5rem;
}

.pb-\[120px\]{
  padding-bottom: 120px;
}

.pb-\[15px\]{
  padding-bottom: 15px;
}

.pb-\[18px\]{
  padding-bottom: 18px;
}

.pb-\[190px\]{
  padding-bottom: 190px;
}

.pb-\[20px\]{
  padding-bottom: 20px;
}

.pb-\[27px\]{
  padding-bottom: 27px;
}

.pb-\[32px\]{
  padding-bottom: 32px;
}

.pb-\[7px\]{
  padding-bottom: 7px;
}

.pb-\[90px\]{
  padding-bottom: 90px;
}

.pl-3{
  padding-left: 0.75rem;
}

.pt-4{
  padding-top: 1rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-8{
  padding-top: 2rem;
}

.pt-\[105px\]{
  padding-top: 105px;
}

.pt-\[110px\]{
  padding-top: 110px;
}

.pt-\[11px\]{
  padding-top: 11px;
}

.pt-\[13px\]{
  padding-top: 13px;
}

.pt-\[2px\]{
  padding-top: 2px;
}

.pt-\[35px\]{
  padding-top: 35px;
}

.pt-\[50px\]{
  padding-top: 50px;
}

.text-center{
  text-align: center;
}

.font-mulish{
  font-family: Mulish, sans-serif;
}

.font-urbanist{
  font-family: Urbanist, sans-serif;
}

.text-\[15px\]{
  font-size: 15px;
}

.text-\[18px\]{
  font-size: 18px;
}

.text-\[19px\]{
  font-size: 19px;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-\[24px\]{
  font-size: 24px;
}

.text-\[clamp\(12px\2c 4vw\2c 16px\)\]{
  font-size: clamp(12px,4vw,16px);
}

.text-\[clamp\(12px\2c 4wv\2c 16px\)\]{
  font-size: clamp(12px,4wv,16px);
}

.text-\[clamp\(13px\2c 4vw\2c 20px\)\]{
  font-size: clamp(13px,4vw,20px);
}

.text-\[clamp\(15px\2c 4vw\2c 17px\)\]{
  font-size: clamp(15px,4vw,17px);
}

.text-\[clamp\(17px\2c 4vw\2c 40px\)\]{
  font-size: clamp(17px,4vw,40px);
}

.text-\[clamp\(17px\2c 4vw\2c 54px\)\]{
  font-size: clamp(17px,4vw,54px);
}

.text-\[clamp\(20px\2c 4vw\2c 24px\)\]{
  font-size: clamp(20px,4vw,24px);
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-bold{
  font-weight: 700;
}

.font-semibold{
  font-weight: 600;
}

.text-hlBlue{
  --tw-text-opacity: 1;
  color: rgb(13 110 253 / var(--tw-text-opacity, 1));
}

.text-hlBlueDark{
  --tw-text-opacity: 1;
  color: rgb(4 19 65 / var(--tw-text-opacity, 1));
}

.text-hlGray{
  --tw-text-opacity: 1;
  color: rgb(108 117 125 / var(--tw-text-opacity, 1));
}

.text-hlWhite{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn{
  display: inline-block;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(13 110 253 / var(--tw-bg-opacity, 1));
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 31px;
  padding-right: 31px;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btnGs{
  display: inline-block;
  min-width: 214px;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(13 110 253 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px){
  .btnGs{
    min-width: 258px;
  }
}

@media (min-width: 1024px){
  .btnGs{
    min-width: 244px;
    padding-top: 14px.5;
    padding-bottom: 14px.5;
  }
}

.hover\:border-hlBlue:hover{
  --tw-border-opacity: 1;
  border-color: rgb(13 110 253 / var(--tw-border-opacity, 1));
}

@keyframes bounce-once{
  0%{
    transform: translateY(-25%);
    opacity: 1;
  }

  50%{
    transform: translateY(0);
  }

  70%{
    transform: translateY(-10%);
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.group:hover .group-hover\:animate-oneBounce{
  animation: bounce-once 0.7s ease-in-out forwards;
}

@media (min-width: 768px){
  .md\:w-\[330px\]{
    width: 330px;
  }

  .md\:w-\[636px\]{
    width: 636px;
  }

  .md\:w-\[650px\]{
    width: 650px;
  }

  .md\:min-w-\[300px\]{
    min-width: 300px;
  }

  .md\:max-w-\[330px\]{
    max-width: 330px;
  }
}

@media (min-width: 1024px){
  .lg\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:w-\[1100px\]{
    width: 1100px;
  }

  .lg\:w-\[400px\]{
    width: 400px;
  }

  .lg\:w-\[570px\]{
    width: 570px;
  }

  .lg\:w-\[650px\]{
    width: 650px;
  }

  .lg\:w-\[685px\]{
    width: 685px;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:min-w-\[609px\]{
    min-width: 609px;
  }

  .lg\:min-w-\[730px\]{
    min-width: 730px;
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:pb-\[24px\]{
    padding-bottom: 24px;
  }

  .lg\:pt-\[34px\]{
    padding-top: 34px;
  }
}